<!DOCTYPE html>
<form id="login_form" method="post" action="/rango/forgot_password/">
    {% csrf_token %}
    <div class="md-content">
        <h3>Login</h3>
	<div>
            <ul id="prof">
		<li class="prop"><strong>Username</strong>	  	<div class="disp"> <input type="text" name="username" required id="inp4" placeholder="Username" focus /> </div></li>
		<br/>
		<li class="prop"><strong>Password</strong>	  	<div class="disp"> <input type="password" name="password" required id="inp4" placeholder="Password"/> </div></li>
		<br/>
		<li class="forgot"><a href="#" onclick="expand(this);"><strong>Forgot Password?</strong></a></li>
		</ul>
		<input type="submit" class="btn btn-primary" name="login" id="bt" value="Sign In">
	</div>
				
    </div>
</form>