{% if project_members.count > 0 %}
{% for user in project_members %}
    <li style="display: block;" id="user-search">
    <form id="add_user" method="get" action="/rango/project/{{project_id}}/">
        <a href="/rango/profile/{{user.id}}/">{{user.username}}</a>
        <input type="text" name="curr_member" hidden="hidden" value="{{user.pk}}" />
        <input type="text" name="curr_task" hidden="hidden" value="{{task_id}}" />
        <input type="submit" name="add_user" value="Add member" style="float: right; margin-right: 20px; margin-left: 20px;"/>
    </form>
    </li>
{% endfor %}

{% else %}
    <li>
        Nothing to Show!
    </li>

{% endif %}
